/********************
YOUR STYLES
*******************/
body {
    font-family: 'Assistant', sans-serif;
}

.city {
    color: grey;
   
}

h1 {
    font-size: 2em;
    color: beige;
    text-align: center; 
}

h1 i{
 font-size: 3em;
 text-align: center;
}


.temp {
    font-size: 5em;
}

figcaption {
    text-align: center;
    color: beige;
    
}  

.bad {
    background-color: darkkhaki;
}
.wet {
    background-color: darkcyan;
}
.misty {
    background-color: grey;
}
.sunny {
    background-color: sandybrown;
}
.cloudy {
    background-color: darkgray;
}
.sunny {
  background-color: orange;
}
.thunderstorms {
    background-color: cadetblue;
}
.snow {
    background-color: snow;
}

.gross {
    background-color: burlywood;
}




aside i {
   font-size: 4em;

    
}
aside .day-one {
    font-size: 1em;
    color: dimgrey;
    display: flex;
	flex-direction: row;
	justify-content:space-around;   
}

aside .day-two {
    font-size: 1em;
    color: dimgray;
    display: flex;
	flex-direction: row;
	justify-content:space-around;
    border-top: solid silver thin;
}

aside .day-three {
    font-size: 1em;
    color: dimgray;
    display: flex;
	flex-direction: row;
	justify-content:space-around;
    border-top: solid silver thin;
}



/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}