/********************
YOUR STYLES
*******************/

i {
  color: beige;
  font-size: 12em;
  text-shadow: 0 0 20px;
}

.sunny {
  background: yellow;
}

.cloudy {
  background: gray;
}

.rainy {
  background: blue;
}

aside .day-one {
    display: flex;
	flex-direction: row;
	justify-content:space-around;
	margin: auto;	
    padding: 1em;
    
}
aside .day-two {
    display: flex;
	flex-direction: row;
	justify-content:space-around;
    border-top: 1em;
	margin: auto;	
    padding: 1em;
}
aside .day-three {
    display: flex;
	flex-direction: row;
	justify-content:space-around;
	margin: auto;	
    padding: 1em;
}



/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}