/********************
YOUR STYLES
*******************/
body {
    font-family: 'Assistant', sans-serif;
}

div {
    padding: 20px;
}

.city {
    color: grey;
   
}

h1 {
    font-size: 2em;
    color: beige;
    text-align: center; 
}

h1 i{
 font-size: 3em;
 text-align: center;
}


.temp {
    font-size: 5em;
}

figcaption {
    text-align: center;
    color: beige;
    
}  

.bad {
background: #7a7f56; /* Old browsers */
background: -moz-linear-gradient(-45deg, #7a7f56 0%, #634a0b 29%, #828401 81%, #bf6e4e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #7a7f56 0%,#634a0b 29%,#828401 81%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #7a7f56 0%,#634a0b 29%,#828401 81%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7f56', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.wet {
background: #3f4c6b; /* Old browsers */
background: -moz-linear-gradient(-45deg, #3f4c6b 0%, #1a2728 23%, #1a2728 23%, #7a939b 59%, #3f4c6b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #3f4c6b 0%,#1a2728 23%,#1a2728 23%,#7a939b 59%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #3f4c6b 0%,#1a2728 23%,#1a2728 23%,#7a939b 59%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.misty {
    background-color: grey;
}
.sunny {
background: #ff0202; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ff0202 0%, #ffaa02 53%, #afff02 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ff0202 0%,#ffaa02 53%,#afff02 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ff0202 0%,#ffaa02 53%,#afff02 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0202', endColorstr='#afff02',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.cloudy {
background: #6e7e9b; /* Old browsers */
background: -moz-linear-gradient(-45deg, #6e7e9b 0%, #aebfbc 22%, #297a8e 33%, #8ea6a2 50%, #616893 67%, #4e5c5a 82%, #385f66 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #6e7e9b 0%,#aebfbc 22%,#297a8e 33%,#8ea6a2 50%,#616893 67%,#4e5c5a 82%,#385f66 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #6e7e9b 0%,#aebfbc 22%,#297a8e 33%,#8ea6a2 50%,#616893 67%,#4e5c5a 82%,#385f66 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e7e9b', endColorstr='#385f66',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.sunny {
  background-color: orange;
}
.thunderstorms {
    background-color: cadetblue;
}
.snow {
    background-color: snow;
}

.gross {
    background-color: burlywood;
}


aside i {
   font-size: 4em;

    
}
aside .day-one {
    font-size: 1em;
    color: dimgrey;
    display: flex;
	flex-direction: row;
	justify-content:space-around;   
}

aside .day-two {
    font-size: 1em;
    color: dimgray;
    display: flex;
	flex-direction: row;
	justify-content:space-around;
    border-top: solid silver thin;
}

aside .day-three {
    font-size: 1em;
    color: dimgray;
    display: flex;
	flex-direction: row;
	justify-content:space-around;
    border-top: solid silver thin;
}


/*Sidebar*/
/*Minimal initial style of sidebar*/

.sidr {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 15em;
    overflow-x: hidden;
    overflow-y: auto;
    background: lightgray;
}

.left {
    left: -15em;
    right: auto;
}

$sidebar-width: 16em;
$sidebar-width-neg: -16em;

.sidr {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: $sidebar-width;
    overflow-x: hidden;
    overflow-y: auto;

    &.left {
        left: $sidebar-width-neg;
        right: auto;
    }
}


$sidebar-width: 16em;
$sidebar-width-neg: -16em;

.sidr {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: $sidebar-width;
    overflow-x: hidden;
    overflow-y: auto;

    &.left {
        left: $sidebar-width-neg;
        right: auto;
    }
}

/*Sections*/
wrapper {
  height: 20em;
  width: 100%;
  position: absolute;
 
}
#one {
  background: red;
}

#two {
  background: green;
}

#three {
  background: blue;
}

:target {
  z-index: 1;
}

/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 


/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}